# Environments
venv/
env/
.env

# Logs
*.log
pod_monitor.log

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Build/Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg